/* You can add global styles to this file, and also import other style files */

[class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.col-xs-4 {
    margin-top: 5px;
    margin-left: 5px;
}

select {
    height: 50px;
    border: 0;
    border-bottom: 1px solid rgb(156, 157, 228);
    outline: none;
}

.pull-right {
    margin-top: 10px;
}